.petProfile-image{
    margin: 20px auto ;
    width: 70% ;
    border-radius: 5px;
    max-width: 700px;
    margin-top:50px ;
    padding: 20px;
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
