.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 500px;
    background-color: #efe4d8;
    border:2px solid rgb(188, 142, 142) ;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px black;
    padding-bottom: 30px;
    border-radius: 60px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;   
    width: 100%;
    margin-top: 10px;
}
.text {
    color:#fa4118;
    font-size: 50px;    
    font-weight: 700;
}
.underline{
    width: 200px;
    height: 6px;
    background: #fa4118;
    border-radius: 9px;

}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgba(135, 20, 20, 0.13);
    border-radius: 16px;
}
.input img{
    margin: 0px 22px;
}
.input input{
    height: 5px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgba(19, 19, 18, 0.772);
    font-size: 18px;
    padding: 20px 20px 20px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: rgb(31, 30, 30);
    font-size: 20px;
}
.forgot-password span{
    color: #fa4118;
    cursor: pointer;
}
.forgot-password span:hover{
    color: rgb(227, 43, 11);
    cursor: pointer;
    text-decoration: underline ;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
    justify-content: center; 
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #f5f5dc;
    background:#fa4118;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: rgb(241, 223, 149);
    color: rgb(202, 213, 213);
}

/* @media only screen and (max-width: 600px) {
    .container,
    .header
    {
        width: 80%;
        bottom: 60px;
    }
    
} */
