/* body{
    background-color: rgb(140, 81, 195);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 60px;
}
.contact__form .form-control{
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #ffff;
    background-color: black;
    border-radius: 0 !important;

    border: 1px solid #fff;

}
.contact__form input .form-control{
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
    
}
.btn{
    color:white ;
    border: 2px solid white;
}
.btn:hover{
    color:white ;
}
 */
