.contact-form{
    max-width: 500px;
    position: absolute;
    padding: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 120px;
    background-color: #efe4d8;
    border: 1px solid #110909;
    border-radius: 5px; 
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    
}
input[type='text'],
input[type='email'],
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
textarea{
    height: 100px;
}
button{
    background-color: #fa4118;
    color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(177, 203, 60);
}
@media screen and (max-width:600px) {
    .contact-form{
        width:90%;
        bottom:50px;
    }
}