/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 160px;
} 

.contact_form .form-control {
    padding: 2.375rem .75rem;
    line-height: 1.5;
    color: #ffff;
    background-color: black;
    border-radius: 0 !important;
    border: 1px solid #fff;
}

.contact_form input .form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75rem + 2px);
}

.btn {
    color: rgb(27, 25, 25);
    border: 2px solid rgb(135, 4, 4);
}

.btn:hover {
    color: rgb(226, 108, 25);
} */
