:root {
    --primary: rgb(206, 171, 171);
}
.btn {
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor:pointer;
}
.btn--primary{
    background-color: linear-gradient(to top,rgb(233, 67, 166) 0%, rgb(231, 150, 83) 100%);;
    color: black;
    border: 1px solid rgb(66, 168, 168); 
}
.btn--outline {
    background-color: transparent;
    color: linear-gradient(to top,rgb(233, 67, 166) 0%, rgb(231, 150, 83) 100%);;
    padding: 8px 20px;
    border: 1px solid rgb(42, 44, 44);
    transition: all 0.3s ease-out;
}
.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}
.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover {
    background: rgb(199, 167, 230);
    color: rgb(32, 3, 46);
    transform: 250ms;
}