<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
</head>
<h1>Add Class</h1>
<body>
<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name
            <input class="form-control" th:field="${course.name}" />
        </label>
        <span th:errors="${course.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Type
        <input class="form-control" th:field="${course.type}" />
            </label>
        <span th:errors="${course.type}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Description
        <textarea rows="5" cols="" th:field="${course.description}"></textarea>
        </label>
    </div>

    <input type="submit" value="Add Course" />
</form>

</body>
</html>