<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Class: ' + course.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="class-list">
    <p th:text="${'Name: ' + course.name}"></p>
    <p th:text="${'Type: ' + course.type}"></p>
    <p th:text="${'Length: ' + course.details.length}"></p>
    <p th:text="${'Description: ' + course.details.description}"></p>
    <p th:text="${'Price: ' + course.details.price}"></p>
</div>