.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
  }
  
  
  .header-content {
    max-width: 800px;
    margin-top: 10px;
  }
  
  
  .header-title {
    font-size: 3.5rem;
    margin-bottom: 60px;
  }
  
  
  .header-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  
  .header-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-input input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .header-input button {
    padding: 10px 30px;
    background-color: #fa4118;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .header-input button:hover{
    background-color: #bbb46f;
         
  }
  

  .header-trainers {
    display: flex;
    align-items: center;
  }
  
  .header-trainers img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .header-title {
      font-size: 2rem;
    }
  
    .header-subtitle {
      font-size: 1rem;
    }
  
    .header-input input {
      max-width: 250px;
    }
  }
