  .header{
    margin-top: 50px;
    display: flex ;
    flex: 1;
    flex-direction: row;

}
.header-top{
    display: flex;
    width: 900px;
    height: 100px;
}
.header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.header-logo{
    color: rgb(115, 90, 174);
    text-decoration: wavy;
    font-family: fantasy;
    font-size: 100px;
    
}
.header-top__navbar{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.fa-solid fa-dog{
    display: flex;
    height: 12px;
    width:25% ;

}
/* .header-top__seperator{
    width: 100%;
    border: none;
    height: 10px;
    margin-top: 2px;
    background-color: rgb(150, 9, 117);

} */
 .header-top__navigation{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
    
}

