.profile{
    display: flex;
    flex-direction: row ;
    justify-content:center;
    align-items: center;

    color: rgb(201, 87, 6);
    
}

/* .button1{
    padding: 20px, 40px,20px,40px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37, 21, 78);
    color: aliceblue;
    margin-top: 50px;
    font-weight: 500;
  
  }
  .button1:hover{
    background-color: rgb(193, 33, 155);
  } */