.file-upload-container {
  margin: 40px auto;
  top: 80px;
  padding: 20px;
  width: 50%;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="file"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fa4118;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #dbd761;
}
