   .purchase-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4in;
    height: 6in;
    border: 1px solid #ccc;
    padding: 100px;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
  
  .purchase-success {
    text-align: center;
  }
  
  .purchase-form {
    text-align: center;
  }
  
  .class-select {
    margin-bottom: 10px;
  }
  
  .purchase-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e06929;
    color: #fff;
  }
  
  .purchase-button:hover {
    background-color: #b09f82;
  }
  